<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.playanetworks.springmvc.MemberMapper">

    <select id="getTime" resultType="string">
        select now()
    </select>
    
    <insert id="insertMember" parameterType="com.playanetworks.springmvc.vo.MemberVO">
        INSERT INTO tbl_member (userId, userPw, userName, email)
        VALUES (#{userId}, #{userPw}, #{userName}, #{email})
    </insert>
    
    <select id="selectMember" resultType="com.playanetworks.springmvc.vo.MemberVO">
        SELECT *
        FROM tbl_member
        WHERE userId = #{userId}
    </select>
    
    <select id="readWithPw" resultType="com.playanetworks.springmvc.vo.MemberVO">
        SELECT *
        FROM tbl_member
        WHERE userId = #{userId}
        AND userPw = #{userPw}
    </select>
    
</mapper>
